@mixin core-style {
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25;
  }

  :root {
    --white: #ffffff;
    --black: #000000;
    --light: #eeeeee;
    --blue: #007fff;
    --red: #cc0000;
    --primary: var(--blue);
  }

  * {
    box-sizing: border-box;
  }

  .white,
  a.white {
    color: var(--white);
  }

  .black,
  a.black {
    color: var(--black);
  }

  .light,
  a.light {
    color: var(--light);
  }

  .blue,
  a.blue {
    color: var(--blue);
  }

  .bg-primary {
    background-color: var(--primary);
    color: var(--white);
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  em {
    opacity: 0.6;
  }

  a.black {
    &:active {
      color: var(--primary);
    }

    // Make sure to only display hover color on devices that support it (specifically iOS).
    @media (hover) {
      &:hover {
        color: var(--primary);
      }
    }
  }
}

@mixin dark-style {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark !important;
    }

    body {
      color: rgb(221, 218, 214);
      background-color: rgb(24, 26, 27);
    }
  }
}
