@use "core";

@include core.core-style;

a:hover {
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  justify-content: space-around;

  & .item {
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    font-size: 0.8rem;
    padding: 0.5rem 0;
    font-weight: 500;
    transition: 0.2s ease all;

    &.active {
      color: var(--primary);

      & svg {
        animation: zap 0.2s ease forwards;
      }

      & path,
      & g {
        fill: var(--primary);
      }
    }

    & path,
    & g {
      transition: 0.2s ease all;
    }

    &:not(.active) {
      opacity: 0.4;
    }
  }

  & .label {
    margin: 0;
  }
}

.recipe {
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
  float: left;
}

@media (min-width: 40em) {
  .recipe {
    width: 33.33333%;
  }
}

@media (min-width: 64em) {
  .recipe {
    width: 25%;
  }
}

@media (min-width: 90em) {
  .recipe {
    width: 20%;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ratio {
  padding-top: 50%;
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}

.container {
  width: 100%;
}
@media (orientation: landscape) {
  body {
    padding-left: 20%;
  }

  nav {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    padding: 1rem 0 0 2rem;

    & .item {
      text-align: left;
      font-size: 1.25rem;
      padding: 0.5rem 0 0 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    & svg {
      position: absolute;
      left: -1rem;
      top: 0.25rem;
    }
  }
}

input {
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter UI", sans-serif;

  &:focus {
    outline: 2px solid var(--primary);
    box-shadow: none;
  }
}

.blog {
  height: 100%;
  background: var(--light);
}

.card {
  background: var(--white);
  padding: 1rem;
  text-decoration: none;

  & .action {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: bold;
    margin-bottom: 0;
  }
}

@keyframes zap {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) rotate(8deg);
  }

  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  // The following are for the main page.
  .recipe .black {
    color: rgb(221, 218, 214);
  }

  nav {
    background: rgb(16, 17, 17);
  }

  .blog {
    height: 100%;
    background: rgb(24, 26, 27);
  }

  .card {
    background: hsl(200, 6%, 8%);
    color: rgb(221, 218, 214);
  }
}

@include core.dark-style;
