@use "core";

@include core.core-style;

img {
  width: 100%;
}

.no-line-height {
  line-height: 0;
}

ul.ingredients {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    padding: 0 0 0 25px;
    position: relative;
  }

  & li input {
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 0.5;
  }

  & label {
    width: 100%;
    display: inline-block;
  }

  & p {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter UI", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p,
dl,
ol,
ul {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

input,
select,
textarea,
fieldset {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  ul.ingredients {
    font-size: 24px;
    & li {
      padding-left: 1.5em;
    }

    [type="checkbox"] {
      width: 1.5em;
      height: 1.5em;
      transform: translateY(0.3sem);
    }

    & label {
      height: 1.3em;
    }

    & p {
      transform: translateY(-0.3em);
    }
  }
}

.bg-blue {
  background-color: #007fff;
}

.bg-darken-1 {
  background-color: rgba(0, 0, 0, 0.0625);
}

.bg-darken-2 {
  background-color: rgba(0, 0, 0, 0.125);
}

.bg-darken-3 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-darken-4 {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

.max-width-4 {
  max-width: 64em;
}

.max-width-3 {
  max-width: 52em;
}

.max-width-2 {
  max-width: 40em;
}

.search {
  transition: 0.3s ease height;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & input {
    border-radius: 5px;
    border: 2px solid #eee;
    box-shadow: 0 0 14px rgba(#007fff, 0.1);
    width: 100%;
    padding: 1.5rem;

    &:focus {
      outline: none;
      border: 2px solid #007fff;
    }
  }
}

.post {
  & h1 {
    margin-top: 6rem;
  }

  & li {
    margin-bottom: 1rem;
    padding: 0 0 0 1rem;
    &:before {
      content: "- ";
      position: absolute;
      left: 0;
      color: #007fff;
    }
  }
}

.main-image {
  max-height: 50vh;
  object-fit: contain;
}

.warning {
  border-radius: 3px;
  border: 2px solid hsl(56, 100%, 20%);
  background-color: hsl(56, 100%, 40%);
  padding: 8px;

  & img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}

.ratio {
  padding-top: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

// There's an issue in firefox where <li> with <p> tags will have vertical space.
ol li {
  padding-bottom: 1rem;

  & p {
    display: inline;
  }
}

@media all and (max-width: 40em) {
  .left-align {
    text-align: center;
  }

  .right-align {
    text-align: center;
  }
}

@media all and (max-width: 300px) {
  .title {
    font-size: 1.3rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
  }

  .xs-center {
    text-align: center;
  }

  .site-title {
    bottom: -28px;
    top: auto;
    left: 50%;
    margin-left: -25px;
    border-radius: 200px;
    transition: 0.2s ease bottom;

    &:hover {
      bottom: -14px;
    }
  }

  .recipes .sm-col {
    border-bottom: 3px solid white;
  }
}

.fields {
  & ul {
    list-style-type: none;
    padding-left: 0;

    & li b {
      display: inline-block;
      width: 100px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .warning {
    border: 2px solid hsl(56, 100%, 40%);
    background-color: hsl(56, 100%, 20%);
  }
}

@include core.dark-style;

@media (prefers-color-scheme: dark) {
  body {
    // Use pure black for OLED screens.
    background-color: #000;
  }
}
